<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1>Hello</h1>

    <form action="" method="POST">
        <label for="Мыло"></label>
        <p>Мыло</p>
        <input type="hidden"  name="name" value="soap">
        <input type="text" name="value">
        <input type="submit" value="Положить в корзину" name="add"><br>
        <label for="Табурет"></label>
        <p>Табурет</p>
        <input type="hidden"  name="name" value="chear">
        <input type="text" name="value">
        <input type="submit" value="Положить в корзину" name="add"><br>
        <label for="Веревка"></label>
        <p>Веревка</p>
        <input type="hidden" name="name" value="rope">
        <input type="text" name="value">
        <input type="submit" value="Положить в корзину" name="add"><br>
    </form>
<a href="/exit/">Выход</a>
</body>
</html>