{% extends 'base.html' %}

{% block Title %}
    Выбор расписания
{% endblock %}

{% block Content %}
    <div class="wrapper">
        <form method="POST">
            {% if catalog|count %}
                <table class="wrapper__item" border="1" width="100%">
                    <tr>
                        {% for key in catalog[0].keys() %}
                            <td align="center" style="background-color: aqua"> {{ key }}</td>
                        {% endfor %}
                    </tr>
                    {% for item in catalog %}
                        <tr>
                            {% for value in item.values() %}
                                <td align="center"> {{ value }}</td>
                            {% endfor %}
                            <td>
                                <input type="radio" required name="idschedule" value="{{ item.ID }}"></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" align="center">
                            <input type="hidden" name="idproject" value="{{ project_id }}">
                            <input type=submit class="button button-standard" value='Подтвердить' name='enter'>
                        </td>
                    </tr>
                </table>
                </form>
                {% else %}
                    <h2>Нет доступных дат</h2>
                    <br><a href="/insert/add/">Добавить?</a>
            {% endif %}
        <div class="wrapper__item">
            <form method="POST">
                <input class="button button-standard" type=submit value='К черновику' name='draft'>
            </form>
        </div>
        <div class="wrapper__item">
            <a href="/schedule/" class="link">Назад</a>
        </div>
    </div>
{% endblock %}


