{% extends 'base.html' %}

{% block Title %}Регистрация{% endblock %}

{% block Content %}
    <div class="wrapper-content, wrapper">
        <form method='POST' action="">
            <label>
                <div>Логин:</div>
                <input class="text-input" required type='text' name='login'>
            </label>
            <label>
                <div>Пароль:</div>
                <input class="text-input" required type='password' name='password'>
            </label>
            <label>
                <div>Роль:</div>
                <select name="role" required style="font-size: 30px">
                    <option value="1">Декан</option>
                    <option value="2">Замдекана</option>
                    <option value="3">Студент</option>
                </select><br><br>
            </label>
            <div class="wrapper__submit">
                <input class="button button-standard" value="Зарегистрироваться" name="signin" type='submit'>
            </div>
        </form>
        <form action="" method="POST">
            <div class="wrapper__submit">
                <input class="button button-standard" value="Назад" name="back" type='submit'>
            </div>
        </form>
    </div>
{% endblock %}
